@model IEnumerable<MenuInfo>
@*region: navBar Lateral*@
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-dark p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon"><i class="fas fa-user-shield"></i></div>
            <div class="sidebar-brand-text mx-3"><span>VisitPop</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            @foreach (var m in Model)
            {                
                <li class="nav-item">
                    <a class="nav-link @(m.Controller== ViewBag.SelectedMenu ? "active": "")" asp-action="Index" asp-controller="@m.Controller">
                        <i style="font-size: 18px;" class="@m.IconClass"></i>
                        <span>@m.Nombre</span>
                    </a>
                </li>
            }
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
@*fin region: navBar Lateral*@
