@model ToasterViewModel

@if ((Model.Message != ""))
{
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div class="toast align-items-center text-white bg-@Enum.GetName(typeof(ToasterType),Model.ToasterType) border-0 shadow-sm" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
            <div class="d-flex">
                <div class="toast-body">
                    @switch (Model.ToasterType)
                    {
                        case ToasterType.success:
                            <span class="fas fa-check"></span>
                            break;
                        case ToasterType.info:
                            <span class="fas fa-info-circle"></span>
                            break;
                        case ToasterType.warning:
                            <span class="fas fa-exclamation-triangle"></span>
                            break;
                        case ToasterType.danger:
                            <span class="fas fa-times-circle fa-1x"></span>
                            break;
                        default:
                            break;
                    }
                    @Model.Message
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
}