<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VisitPop</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-danger text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">VISITPOP</div>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div class="col-3">
            Aca puede ir un menu
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
